<!--[if lt IE 9]><% if (includeHTML5shiv) { %> 
script(src="../bower_components/html5shiv/dist/html5shiv.js")<% } %>
<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
