mixin ie(condition)
  | 
  <!--[!{condition}]>
  block
  | 
  <![endif]-->

+ie('if lt IE 9')
  // build:js scripts/ie.js <% if (includeHTML5shiv) { %> 
  script(src="../bower_components/html5shiv/dist/html5shiv.min.js")<% } if (includeRespond) { %>
  script(src="../bower_components/dest/respond.min.js")<% } %>
  // endbuild
