block mainVars

doctype html
html(lang="ja")
  head
    include layout/html-head
    include layout/ogp

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css', media='all')
    // endbuild
    <% if (includeModernizr) { %>
    // build:js scripts/modernizr.js
    script(src="../bower_components/modernizr/modernizr.js")
    // endbuild
    <% } %>

    include layout/ie-script

  body(class=page_class)

    block content
    
    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='js/script.js')
    // endbuild
